<!DOCTYPE html>
<html>
  <head>
    <title>Secure Page</title>
    <style>
img { padding: 3rem; } img.active { position: fixed; left: 0; top: 0; width: 100% !important; height: 100%; z-index: 999; object-fit: contain; } body { display: flex; flex-direction: row; flex-wrap: wrap; }
img.active { position: fixed; left: 0; top: 0; width: 100% !important; height: 100%; z-index: 999; object-fit: contain; }
    </style>
  </head>
  <body>
    {{range .Photos}}
    <div>
      <h3>{{.}}</h3>
      <img style="width: 20vw; min-width: 350px;" src="{{.}}" onclick="enlargeImg(this.id)" id="{{.}}">
      </img>
    </div>
    {{end}}

    <div style="padding:1rem;">
      <h3>Object detection settings</h3>
      <div style="display:flex;flex-direction:column;gap:2rem;">
        {{range .Photos}}
        <button onclick="toggleDetection('{{.}}')" id="{{.}}Button">Toggle Detection {{.}}</button>
        {{end}}
        <label for="objFilter">Exclude following labels:</label>
        <input type="text" value="car,truck,airplane,refrigerator" id="objFilter">
      </div>
    </div>

    <div style="padding:1rem;">
      <h3>History</h3>
      <div style="display:flex;flex-direction:column;gap:2rem;">
        {{range .Videos}}
        <button onclick=" window.open('{{.}}','_blank')">History {{.}}</button>
        {{end}}
      </div>
    </div>

    <audio id='notif_sound'>
      <source src='assets/notification.mp3' type='audio/mpeg' />
    </audio>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
  <script src="assets/script.js"></script>
</html>
